<div class="container">
    <h1>Blog Form</h1>
    <form name="blog-form" (ngSubmit)="submit(model)">
        <div class="form-group">
            <label for="title">Blog Title</label>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="model.title" required/>        
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" id="category" name="category" [(ngModel)]="model.category" required>
                <option *ngFor="let category of categories" [value]="category" >{{category.name}}</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>