<div class="container-fluid blog-form-container">
    <form name="blog-form" [formGroup]="blogForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" formControlName="title" [ngClass]="{ 'is-invalid': submitted && title.errors }">
            <div *ngIf="submitted && title.errors" class="invalid-feedback">
                <div *ngIf="title.getError('required')">Title is required.</div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>