<div class="container-fluid blog-form-container">
    <form name="blog-form" (ngSubmit)="submit(model)">
        <div class="form-group">
            <label for="title">Blog Title</label>
            <div>
                <input type="text" class="form-control form-control-sm" id="title" name="title" [(ngModel)]="model.title" required/>        
            </div>
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <div>
                    <select class="form-control form-control-sm" id="category" name="category" [(ngModel)]="model.category" required>
                        <option *ngFor="let category of categories" [ngValue]="model.category">{{category.name}}</option>
                    </select>
            </div>
            
        </div>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>