.tag {
    margin-left: 10px;
    margin-right: 10px;
}
.tag-search {
    margin-bottom: 10px;
}
.tag-search-label {
    margin-top: 10px;
}

.tag-delete-icon,
.tag-search-result, {
    cursor: pointer;
}

.tag-search-result {
    margin: 0;
}

.tag-search-result:hover {
    background-color:#eef0f1;
}

.tag-search-body {
    padding: 0;
    overflow: auto;
    max-height: 100px;
}

.tag-search-info {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: gray;
}