<div [hidden]="!(selectedTags?.length >0)" class="card">
  <div class="card-header">Selected tags list</div>
  <div class="card-body">
     <span class="tag" *ngFor="let tag of selectedTags">#{{tag.name}} <fa class="tag-delete-icon" (click)="removeTag(tag)" name="times"></fa></span>
   </div>
 </div>
 <label class="tag-search-label" for="tagSearchQuery">Tag search:</label>
 <div class="input-group mb-3 tag-search">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary" (click)="addNewTag()"
      [disabled]="tagSearchQuery?.length ==  0" type="button">Add tag</button>
    </div>
   <input type="text" (keyup)="searchTerm.next($event.target.value)"   class="form-control " name="tagSearchQuery" placeholder="eg. tag name" [(ngModel)]="tagSearchQuery"
   aria-describedby="basic-addon1"/>
  </div>
 
<div [hidden]="!((tagResults?.length > 0) || tagSearchQuery.length > 0)" class="card">
  <div class="card-body tag-search-body">
    <p [hidden]="tagResults?.length > 0" class="tag-search-info">No results, use add tag button to create new one and put it in select list or type more to find specific one</p>
     <p class="tag-search-result"  (click)="addTag(tag)" *ngFor="let tag of tagResults">#{{tag.name}}</p>
   </div>
 </div>
  