<div class="container">
    <h1 class="form-title-centered">Registration Form</h1>
    <form>
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="inputPassword1">Password</label>
            <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="repeatInputPassword2">Repeat password</label>
            <input type="password" class="form-control" id="repeatInputPassword2" placeholder="Repeat password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>