<div class="container">
    <h1>{{post?.blogTitle}}</h1>
</div>
<div class="container post-container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div>{{post?.title}}</div>
                    <p class="card-text"><small><a [routerLink]="['/','blog',post.blogId]">{{post?.author}}</a></small> <small class="text-muted"> {{post?.creationDate | date:'medium'}}</small></p>
                </div>
                <div [innerHTML]="post?.content" class="card-body">
                </div>
                <div class="card-footer">
                    <app-comment-form></app-comment-form>
                </div>
            </div>
        </div>
    </div>
</div>