<div class="container">
    <h1>{{post?.blogTitle}}</h1>
</div>
<div class="container post-container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2>{{post?.title}}</h2>
                    <hr class="seperator"/>
                    <p class="card-text"><small><a [routerLink]="['/','blog',post.blogId]">{{post?.author}}</a></small> <small class="text-muted"> {{post?.creationDate | date:'medium'}}</small></p>
                </div>
                <div [innerHTML]="post?.content" class="card-body">
                </div>
                <div class="card-footer">
                    <div *ngIf="commentsCount > 0">
                        <fa class="mr-2 action-icon" name="comments"></fa>
                        <small>Comments: {{commentsCount}}</small>
                    </div>
                    <app-comments-list [commentCount]="commentsCount"></app-comments-list>
                </div>
            </div>
        </div>
    </div>
</div>