<div class="container-fluid">
 
        <div class="row">
                <ul class="nav nav-pills">
                        <li  class="nav-item">
                                <a routerLink='blog-options' routerLinkActive="active" class="nav-link">Blog Options</a>
                        </li>
                        <li class="nav-item">
                                <a routerLink='posts-manager' routerLinkActive="active"  class="nav-link">Posts Manager</a>
                        </li>
                        <li class="nav-item">
                                <a routerLink='profile-options' routerLinkActive="active" class="nav-link">Profile Options</a>
                        </li>
                        <li class="nav-item">
                                <a routerLink='post-form' routerLinkActive="active" class="nav-link">Add new post</a>
                        </li>
                </ul>
        </div>
        <router-outlet></router-outlet>
</div>