<div *ngFor="let category of categories" class="col-md-12 category-container ">
    <div>
            <a routerLink="category/{{category.id}}"><h1>{{category?.name}}</h1></a>
    </div>
    <div class="card-deck">
        <div class="card" *ngFor="let post of category.posts"> 
            <img class="card-img-top"  [src]="post?.mainImage?.url | defaultImage" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{post?.title}}</h5>
        <p class="card-text">{{post?.shortDescription}}</p>
            <a [routerLink]="['/blog/', post.blogId,'post', post.id]" class="btn btn-primary">Read more</a>
            </div>
            <div class="card-footer">
            <small class="text-muted">{{post?.creationDate | date: 'short'}}</small>
            </div>
        </div>
    </div>
</div>
