<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
    <button class="navbar-toggler right" (click)="isCollapsed = !isCollapsed"
    type="button" data-toggle="collapse" 
    aria-expanded="false" 
    aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isCollapsed" class="navbar-collapse">
      <a class="navbar-brand" routerLink="home">Blog System</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active"   routerLink="home"> <fa class="nav-icon" name="home"  size="lg"></fa> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"   routerLinkActive="active"  routerLink="blog" href="#">Blog</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link"  routerLinkActive="active" routerLink="blog-manager">Blog Manager</a>
        </li>
      </ul>
      <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchQuery">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div [hidden]='!(posts.length > 0)'>
        <div *ngFor="let post of posts">
          <p>{{post.title}}</p>
          <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22782%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20782%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16721a0ec1d%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A39pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16721a0ec1d%22%3E%3Crect%20width%3D%22782%22%20height%3D%22250%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22291.2421875%22%20y%3D%22142.4%22%3E782x250%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
        </div>
      </div>
    </div>
</nav>
