<div class="container-fluid">
        <h1>Blogs Manager</h1>        
        <form name="blog-form">
                <div class="form-group">
                        <label for="searchQuery">Search blog</label>
                        <input (keyup)="searchTerm.next($event.target.value)"  [(ngModel)]="searchQuery" type="text" class="form-control" name="searchQuery"  />        
                </div>
        </form>
        <div>
           
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title Blog</th>
                        <th colspan="2" scope="colgroup">Actions</th>
                        </tr>
                    </thead>
           
                    <tbody>
                            <tr [hidden]="isLoading" *ngFor="let blog of blogs;index as i">
                                <th scope="row">{{ i + 1 + iterationIndex }}</th>
                                <td>{{blog?.title}}</td> 
                                <td>
                                        <button class="btn btn-danger action-button" (click)="deleteBlog(blog)"  type="button">Delete</button>
                                        <button class="btn btn-primary action-button" (click)="editBlog(blog.id)" type="button">Edit</button>
                                        <button class="btn btn-success action-button"  type="button">Go to blog</button>
                                        <button type="button" class="btn btn-info action-button">Details</button>

                                </td> 
                            </tr>
                    </tbody>
                </table>
                <app-small-loader [hidden]="!isLoading"></app-small-loader>
                <ngb-pagination (pageChange)="onPageChange($event)" class="d-flex justify-content-center" [ngClass]="{'hide-pagination': isLoading || blogs.length == 0 }" [collectionSize]="collectionSize" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
        </div>
</div>
