<div class="container">
    <h1 class="form-title-centered">User profile</h1>
    <form [formGroup]="userForm">
        <div class="form-group">
            <label for="firstname">Firstname</label>
            <input type="text" class="form-control" formControlName="firstName">
        </div>
        <div class="form-group">
            <label for="lastname">Lastname</label>
            <input type="text" class="form-control" formControlName="lastName">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" formControlName="username">
        </div>
        <div class="form-group">
            <label for="password">Your current password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <!-- <h1>Change your password</h1> -->
    <!-- <form [formGroup]="passwordForm">
       <div class="form-group">
           <label for="password">Your current password</label>
           <input type="password" class="form-control" formControlName="password">
       </div>
       <div class="form-group">
           <label for="newPassword">New password</label>
           <input type="password" class="form-control" formControlName="newPassword">
       </div>
       <div class="form-group">
           <label for="repeatedPassword">Repeat password</label>
           <input type="password" class="form-control" formControlName="changePassword">
       </div>
       <button type="submit" class="btn btn-primary">Submit</button>
   </form>
   <h1>Delete your account</h1>
   <form [formGroup]="deleteAccountForm">
       <div class="form-group">
           <label for="password">Current password</label>
           <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="form-group">
            <label for="checkbox">Delete account</label>
            <input type="checkbox" class="form-control" formControlName="deleteAccount">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
   </form> -->
</div>