<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title form-title-centered">User profile</h1>
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="firstname">Firstname</label>
                    <input type="text" class="form-control" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && firstName.errors }">
                    <div *ngIf="submitted && firstName.errors" class="invalid-feedback">
                        <div *ngIf="firstName.getError('required')">First Name is required.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname">Lastname</label>
                    <input type="text" class="form-control" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && lastName.errors }">
                    <div *ngIf="submitted && lastName.errors" class="invalid-feedback">
                        <div *ngIf="lastName.getError('required')">Last Name is required.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && email.errors }">
                    <div *ngIf="submitted && email.errors" class="invalid-feedback">
                        <div *ngIf="email.getError('required')">E-mail is required.</div>
                        <div *ngIf="email.getError('email')">Please provide valid email format.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" formControlName="username" [ngClass]="{ 'is-invalid': submitted && username.errors }">
                    <div *ngIf="submitted && username.errors" class="invalid-feedback">
                        <div *ngIf="username.getError('minlength')">Username must be at least 3 characters.</div>
                        <div *ngIf="username.getError('required')">Username is required.</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>


</div>