<form #commentForm="ngForm" name="comment-form" (ngSubmit)="submit()" class="mt-3">
    <div class="form-group">
        <label for="comment-text">
            <span>Comment content</span>
            <button (click)="close()" *ngIf="isEdit">
                Close
            </button>
        </label>
        <textarea type="text" placeholder="Write something interesting..." class="form-control" name="content" 
        [(ngModel)]="comment.content" #content="ngModel"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">
        <span *ngIf="!isEdit">Add comment</span>
        <span *ngIf="isEdit">Update commment</span>
    </button>
</form>
