<div class="container-fluid post-form-container">
        <h1>Post Form</h1>
        <form name="post-form" (ngSubmit)="submit(model)">
                <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" name="title" [(ngModel)]="model.title" #title="ngModel" />
                </div>
                <div class="form-group">
                        <label for="shortDescription">Short description (max: 200 characters)</label>
                        <textarea maxlength="200" type="text" class="form-control" name="shortDescription" [(ngModel)]="model.shortDescription" #shortDescription="ngModel"></textarea>
                        <label>Characters counter: {{ (model?.shortDescription?.length ) ? model.shortDescription.length : 0 }}</label>
                </div>
                <div class="form-group">
                        <label for="content">Content</label>
                        <app-ngx-editor name="content" minHeight="300px" [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="model.content"></app-ngx-editor>
                </div>
                
                <button class="btn btn-primary" type="submit">Save</button>
        </form>
</div>