<app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="model.content"></app-ngx-editor>
<div class="container">
        <h1>Post Form</h1>
        <form name="post-form" (ngSubmit)="submit(model)">
            <div class="form-group">
                    <label for="title">Post Title</label>
                    <input type="text" class="form-control" name="title" [(ngModel)]="model.title" #title="ngModel" />        
            </div>
            <div class="form-group">
                    <label for="content">Post Content</label>
                    <textarea type="text" class="form-control" name="content" [(ngModel)]="model.content" #content="ngModel" ></textarea>       
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>