<div class="container">
    <h1 class="text-center">User profile</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><b>Username:</b> {{user.username}}</h5>
            <p class="card-text"><b>Email:</b> {{user.email}}</p>
            <p class="card-text"><b>Firstname:</b> {{user.firstName}}</p>
            <p class="card-text"><b>Lastname: </b> {{user.lastName}}</p>
            <a *ngIf="showEditFunctions" [routerLink]="['/edit-profile',user.id]" class="card-link">Edit profile</a>
            <a *ngIf="showEditFunctions" [routerLink]="['/change-password',user.id]" class="card-link">Change password</a>
            <a *ngIf="showEditFunctions" href="#" class="card-link">Delete account</a>
        </div>
    </div>
</div>