<div class="container">
    <div class="card">
        <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                                <a routerLink='profile-preview' routerLinkActive="active" class="nav-link">Your profile</a>
                        </li>
                        <li class="nav-item">
                                <a routerLink='edit-profile' routerLinkActive="active"  class="nav-link">Edit profile</a>
                        </li>
                        <li class="nav-item">
                                <a routerLink='post-form' routerLinkActive="active" class="nav-link">Change password</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink='post-form' routerLinkActive="active" class="nav-link">Delete account</a>
                        </li>
                </ul>
        </div>
        <div class="card-body">
                <router-outlet></router-outlet>
        </div>
    </div>
</div>