
$navgrey: #333;
$navhoverblack: #111;


.navigation {
    display: flex;
    flex-direction: column;
}

.navigation ul li.right {
    float: right;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: $navgrey;
    width: 100%;
}

.navigation ul li {float: left;}

.navigation ul li a,
.navcollapser button
 {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigationCollapse ul li a:hover,
.navigation ul li a:hover,
.nav-button:hover
 {background-color: $navhoverblack;}

nav.topnav ul li.right {float: right;}

.navcollapser .dropdown-menu {
    background: $navgrey;
    width: 100%;
    margin-top: 0;
    border: none;
    border-radius: 0;
    padding: 0;
}

.nav-button  {
    border:none;
    background-color: $navgrey;
}

.navcollapser,
.nav-button:hover, 
.nav-button:focus,
.nav-button:hover,
.nav-button:active {
    border:  none;
    outline:  none;
}

.nav-button:hover {
    cursor: pointer;
}


.burger-button{
    display: none;
}

.burger-button {
    float: right;
}


.burger-container {
    width: 100%;
    background-color: #333;
}

.burger-button div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

#navigationCollapse.show {
    display: none;
}

#navigationCollapse ul li {
    float : none;
}

#navigationCollapse ul li a {
    background-color: $navgrey;
}

#navigationCollapse .nav-button {
    width: 100%;
}

@media screen and (max-width: 600px){
    .hidden-sm-up {
        display: none;
    }

    .burger-button{
        display: block;
    }

    #navigationCollapse.show {
        display: block;
    }
    
}

.nav-icon
{
    margin-left: 5px;
    margin-right: 5px;
}