<nav id="normalMenu" class="topnav">
  <!-- Navbar links -->
    <ul>
      <li>
        <a  href="#">Link</a>
      </li>
      <li>
        <a  href="#">Link</a>
      </li>
      <li>
        <a href="#">Link</a>
      </li> 
      <li>
          <div class="navcollapser" ngbDropdown>
            <button class="nav-button"  id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a href="#">Link</a>
              <a href="#">Link</a>
              <a href="#">Link</a>
            </div>
          </div>
      </li>
      <li>
          <a href="#">Link</a>
        </li> 
    </ul>
</nav>

<nav id="phone-menu" class="topnav"> 
    <!-- Navbar links -->
      <ul>
        <li class="right">
          <div >
              <button type="button"  class="nav-button burger-button " (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
              <div></div>
              <div></div>
              <div></div>
             </button>
            </div>
        </li>
       
      </ul>
  </nav>

<div id="collapseExample" [ngbCollapse]="isCollapsed" class="burger-menu">
  <nav class="topnav">
   
    <ul>
        <li>
          <a  href="#">Link</a>
        </li>
        <li>
          <a  href="#">Link</a>
        </li>
        <li>
          <a href="#">Link</a>
        </li> 
        <li>
            <div class="navcollapser" ngbDropdown>
              <button class="nav-button"  id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
              </div>
            </div>
        </li>
      </ul>
  </nav>
</div>