
$navgrey: #333;
$navhoverblack: #111;


nav.topnav {
    line-height: 0.5;
    display: flex;
   
}

#phone-menu,
.burger-menu .show
 {
    display: none;
}

nav.topnav ul li.right {
    float: right;
}

nav.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: $navgrey;
    width: 100%;
}

nav.topnav ul li {float: left;}

nav.topnav ul li a,
.navcollapser button
 {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav.topnav ul li a:hover:not(.active),
.nav-button:hover
 {background-color: $navhoverblack;}

//ul.topnav li a.active {background-color: #4CAF50;}

nav.topnav ul li.right {float: right;}

.navcollapser .dropdown-menu {
    background: $navgrey;
    width: 100%;
    margin-top: 0;
    border: none;
    border-radius: 0;
    padding: 0;

}

.nav-button  {
    border:none;
    background-color: $navgrey;
}

.navcollapser,
.nav-button:hover, 
.nav-button:focus,
.nav-button:hover,
.nav-button:active {
    border:  none;
    outline:  none;
}

.nav-button:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px){
    #normalMenu{
        display: none;
    }
    #phone-menu {
        display: flex;
    }

    .burger-menu .show {
        display: block;
    }
}

.burger-menu nav.topnav ul li.right, 
.burger-menu nav.topnav ul  li {float: none;}
.burger-menu .navcollapser,.navcollapser  button { width: 100%;}

.burger-button div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}