<nav class="navigation"> 
    <ul>
        <li class="hidden-sm-up">
            <a  routerLink="/home">
              <fa class="nav-icon" name="home"  size="lg"></fa>
              Home
            </a>
        </li>
        <li class="hidden-sm-up">
            <div class="navcollapser" ngbDropdown>
              <button class="nav-button"  id="dropdownBasic2" ngbDropdownToggle>Blog</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                  <a routerLink="blogs-manager">Blog Manager</a>
                  <a  routerLink="add-blog">
                      <fa class="nav-icon" size="lg" name="plus-square"></fa>
                      <span>Add Blog</span> 
                  </a>
                  <a  routerLink="add-post">
                      <fa class="nav-icon" size="lg" name="plus-square"></fa>
                      <span>Add Post</span> 
                  </a>
              </div>
            </div>
        </li>
        <li class="right">
            <button type="button"  class="nav-button burger-button " (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="navigationCollapse">
              <div></div>
              <div></div>
              <div></div>
           </button>
        </li>
  </ul>
 <div id="navigationCollapse" [ngbCollapse]="isCollapsed">
    <ul>
        <li>
          <a  href="#">Link</a>
        </li>
        <li>
          <a  href="#">Link</a>
        </li>
        <li>
          <a href="#">Link</a>
        </li> 
        <li>
            <div class="navcollapser" ngbDropdown>
              <button class="nav-button"  id="dropdownBasic2" ngbDropdownToggle>Toggle dropdown</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
              </div>
            </div>
        </li>
      </ul>
  
  </div>
</nav>
