<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a routerLink="home" class="navbar-brand">
        <span class="d-lg-inline-block nav-app-title"> Bloging System </span>
    </a>
    <button class="navbar-toggler right" (click)="isCollapsed = !isCollapsed" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isCollapsed" class="navbar-collapse">
        <ul class="navbar-nav mr-auto mt-3 mt-lg-0">
            <li *ngIf="isLogged" class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="blog">Your Blog</a>
            </li>
        </ul>
        <ul class="navbar-nav mt-3 mt-lg-0">
            <li *ngIf="!isLogged" class="nav-item ">
                <a class="nav-link" routerLink="login">
                    <fa class="nav-icon" name="sign-in" size="lg"></fa>
                </a>
            </li>
            <li *ngIf="isLogged" class="nav-item ">
                <a class="nav-link log-out-link" (click)="logout()">
                    <fa class="nav-icon" name="sign-out" size="lg"></fa>
                </a>
            </li>
            <li *ngIf="!isLogged" class="nav-item ">
                <a class="nav-link" routerLink="register">
                    <fa class="nav-icon" name="user-plus" size="lg"></fa>
                </a>
            </li>
            <li *ngIf="isLogged" class="nav-item ">
                <a class="nav-link" routerLink="profile">
                    <fa class="nav-icon" name="user" size="lg"></fa>
                </a>
            </li>
        </ul>
    </div>
</nav>