/* You can add global styles to this file, and also import other style files */

.global .clickable:hover {
    cursor: pointer;
}

.action-icon {
    cursor: pointer;
    color: black;
    margin-right: 5px;
    margin-left: 5px;
}