<div class="container-fluid">
        <h1>Blogs Manager</h1>
        <form name="blog-form">
                <div class="form-group">
                        <label for="searchQuery">Search blog</label>
                        <input (keyup)="searchTerm.next($event.target.value)" type="text" class="form-control" name="searchQuery" />
                </div>
        </form>
        <div>

                <table class="table">
                        <thead>
                                <tr>
                                        <th class="global clickable" (click)="sort(0)" scope="col">
                                                <fa [hidden]="!blogQueryModel.order || blogQueryModel.filter != 0 "
                                                        name="arrow-up"></fa>
                                                <fa [hidden]="blogQueryModel.order || blogQueryModel.filter != 0" name="arrow-down"></fa>
                                                <span>Id</span>
                                        </th>
                                        <th class="global clickable" (click)="sort(1)" scope="col">
                                                <fa [hidden]="!blogQueryModel.order || blogQueryModel.filter != 1 "
                                                        name="arrow-up"></fa>
                                                <fa [hidden]="blogQueryModel.order || blogQueryModel.filter != 1" name="arrow-down"></fa>
                                                <span>Created:</span>
                                        </th>
                                        <th class="global clickable" (click)="sort(2)" scope="col">
                                                <fa [hidden]="!blogQueryModel.order || blogQueryModel.filter != 2" name="arrow-up"></fa>
                                                <fa [hidden]="blogQueryModel.order || blogQueryModel.filter != 2" name="arrow-down"></fa>
                                                <span>Title</span>
                                        </th>
                                        <th colspan="2" scope="colgroup">Actions</th>
                                </tr>
                        </thead>

                        <tbody>
                                <tr [hidden]="isLoading" *ngFor="let blog of blogs;">
                                        <th scope="row">{{ blog?.id }}</th>
                                        <td>{{blog?.title}}</td>
                                        <td>{{blog?.creationDate}}</td>
                                        <td>
                                                <button class="btn btn-danger action-button" (click)="deleteBlog(blog)"
                                                        type="button">Delete</button>
                                                <button class="btn btn-primary action-button" (click)="editBlog(blog.id)"
                                                        type="button">Edit</button>
                                                <button class="btn btn-success action-button" type="button">Go to blog</button>
                                                <button type="button" class="btn btn-info action-button">Details</button>
                                        </td>
                                </tr>
                        </tbody>
                </table>
                <app-small-loader [hidden]="!isLoading"></app-small-loader>
                <ngb-pagination (pageChange)="onPageChange($event)" class="d-flex justify-content-center" [ngClass]="{'hide-pagination': isLoading || blogs.length == 0 }"
                        [collectionSize]="collectionSize" [(page)]="blogQueryModel.page" aria-label="Default pagination"></ngb-pagination>
        </div>
</div>