<div class="container-fluid">
        <div class="row">
                <ngb-tabset type="pills">
                        <ngb-tab>
                                <ng-template ngbTabTitle>Post Manager</ng-template>
                                <ng-template ngbTabContent>
                                        <app-blog-form></app-blog-form>
                                </ng-template>
                        </ngb-tab>
                        <ngb-tab>
                                <ng-template ngbTabTitle>Post Manager</ng-template>
                                <ng-template ngbTabContent>

                                </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Profile Options">
                                <ng-template ngbTabContent>
                                        
                                </ng-template>
                        </ngb-tab>
                </ngb-tabset>
        </div>
</div>