<ngb-pagination (pageChange)="onPageChange($event)" class="d-flex justify-content-center" *ngIf="this.postsPagedModel.entities?.length > 0" [collectionSize]="this.postsPagedModel.count" [pageSize]="this.postsPagedModel.size" [(page)]="postsPagedModel.page"
    aria-label="Default pagination"></ngb-pagination>
<div class="post-container" *ngFor="let post of this.postsPagedModel.entities">
    <div class="card">
        <div class="card-header">
            <div>{{post?.title}}</div>
            <p class="card-text"><small><a [routerLink]="['/','blog',post.blogId]">{{post?.author}}</a></small> <small class="text-muted"> {{post?.creationDate | date:'medium'}}</small></p>
        </div>
        <div class="card-body">
            <p class="card-text">{{post?.shortDescription}}</p>
        </div>
        <div class="card-footer">
            <a [routerLink]="['/','blog',post.blogId,'post', post.id]" class="btn btn-primary">Go to post</a>
        </div>
    </div>
</div>
<ngb-pagination (pageChange)="onPageChange($event)" class="d-flex justify-content-center" *ngIf="this.postsPagedModel.entities?.length > 0" [collectionSize]="this.postsPagedModel.count" [pageSize]="this.postsPagedModel.size" [(page)]="postsPagedModel.page"
    aria-label="Default pagination"></ngb-pagination>